main{
    border-radius: 5px;
    }
    
    h1{
      font-size: 300%;
      margin: 0px;
      padding-bottom:10px;
    }
    
    h3{
    background-color: navy;
    color: white;
    padding: 2px;
    border-radius: 5px;
    }
    
    header{
    background-color:black;
    color: white;
    padding-bottom: 10px;
    }
    
    footer{
    background-color:black;
    color: white;
    padding: 10px;
    text-align: center;
    }
    
    nav{
    background-color: lightgray;
    color: darkgrey;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    }
    
    .events{
      background-color: #eeeeee;
      border-color: gray;
      border-width: 2px;
      border-style: solid;
      border-radius: 10px;
      padding: 7px;
      margin: 5px;
      list-style-type: none;
    }
    
    a{
      text-decoration: none;
    }

    th[role=columnheader]:not(.no-sort) {
      cursor: pointer;
    }
    
    th[role=columnheader]:not(.no-sort):after {
      content: '';
      float: right;
      margin-top: 7px;
      border-width: 0 4px 4px;
      border-style: solid;
      border-color: #404040 transparent;
      visibility: hidden;
      opacity: 0;
      -ms-user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    
    th[aria-sort=ascending]:not(.no-sort):after {
      border-bottom: none;
      border-width: 4px 4px 0;
    }
    
    th[aria-sort]:not(.no-sort):after {
      visibility: visible;
      opacity: 0.4;
    }
    
    th[role=columnheader]:not(.no-sort):hover:after {
      visibility: visible;
      opacity: 1;
    }